body {
  background-color: #f9f9fb;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 4px;               /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f9f9fb;        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: #a9a9ab;    /* цвет плашки */
  border-radius: 6px
}
